LegacyPyside2/CoreApp/Login/Session_Control/
ProductionFiles/VPS/CertifiLegacy/
ProductionFiles/VPS/mediacutsstudio.conf
.history/
*__pycache__/
__pycache__/
pipeline-server/
testers-functions/
ProductionFiles/VPS/Certifi/
internal-support-server/agent_dashboard/node_modules/
.history/
internal-landing-api/Keys/
internal-landing-api/Logs/
internal-sheduler-server/Internal-server/Keys/
internal-sheduler-server/Internal-server/Logs/
internal-sheduler-server/Internal-server/test/
internal-sheduler-server/Internal-server/Tokens/
internal-sheduler-uploader-server/Keys/
internal-uptime-server/Keys/
Media-Cuts-Studio/.env
internal-shortify-api/Keys/
internal-media-cuts-studio-server/Studio/Cookies/
internal-shortify-api/Cookies/
internal-sheduler-server/Internal-server/tmp/
internal-sheduler-server/Internal-server/Uploaders/celerybeat-schedule
internal-media-cuts-studio-server/Studio/IAManagerShortsChannel.py
internal-media-cuts-studio-server/Studio/Pendentes/
internal-media-cuts-studio-server/Studio/Keys/
internal-media-cuts-studio-server/Studio/Calendar/
internal-media-cuts-studio-server/Studio/TiktokAutoUploader_TESTEE/tiktok_uploader/tiktok-signature/node_modules
internal-media-cuts-studio-server/Studio/WorkEnvironment/Process/
pipeline-server/PullRequest/Internalserver/Production/Models/
pipeline-server/PullRequest/Front-End/node_modules
pipeline-server/PullRequest/Front-End/node_modules/
internal-media-cuts-studio-server/Studio/downloads/
Marketing/VideosMarketingDireto/
internal-sheduler-server/Internal-server/Uploaders/TiktokAutoUploader/tiktok_uploader/tiktok-signature/node_modules/
Media-Cuts-Studio/videos/
encoded_files/
Ideas/
Portifolio/
server-docs/
pipeline-server/
testers-functions/
internal-support-server/Front-End/node_modules/
internal-media-cuts-studio-server/tmp_uploads/
testers-functions/teste/
internal-media-cuts-studio-server/Studio/Utils/ffmpeg/
internal-media-cuts-studio-server/Studio/logs/InstagramUploader/
env_git.env
Marketing/marketing_dashboard/node_modules/
Marketing/marketing_dashboard/node_modules
reframe_output/
internal-media-cuts-studio-server/Studio/Logs/
internal-media-cuts-studio-server/Studio/Models/
Marketing/marketing_dashboard/node_modules/
internalsheduleserver/Internal-server/Logs/celery_worker.log
internal-media-cuts-studio-server/Studio/Utils/ffmpeg/
internal-media-cuts-studio-server/celerybeat-schedule
internal-media-cuts-studio-server/celerybeat-schedule/
internal-media-cuts-studio-server/celerybeat-schedule
internal-support-server/
transforms.trf
tmpixcdmeug.tmp
*.mp4
__pycache__/
*__pycache__/
**__pycache__/