*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.static {
  position: static;
}

.\!absolute {
  position: absolute !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.\!left-\[6\.51\%\] {
  left: 6.51% !important;
}

.\!left-\[6\.54\%\] {
  left: 6.54% !important;
}

.\!left-\[6\.56\%\] {
  left: 6.56% !important;
}

.\!right-\[6\.47\%\] {
  right: 6.47% !important;
}

.\!right-\[6\.49\%\] {
  right: 6.49% !important;
}

.\!right-\[6\.51\%\] {
  right: 6.51% !important;
}

.\!top-\[calc\(50\%_-_-229\.5px\)\] {
  top: calc(50% - -229.5px) !important;
}

.\!top-\[calc\(50\%_-_-231\.5px\)\] {
  top: calc(50% - -231.5px) !important;
}

.\!top-\[calc\(50\%_-_-232\.51px\)\] {
  top: calc(50% - -232.51px) !important;
}

.bottom-\[0\%\] {
  bottom: 0%;
}

.bottom-\[0\.05\%\] {
  bottom: 0.05%;
}

.bottom-\[0\.79\%\] {
  bottom: 0.79%;
}

.bottom-\[84\.98\%\] {
  bottom: 84.98%;
}

.bottom-\[85\.82\%\] {
  bottom: 85.82%;
}

.left-0 {
  left: 0px;
}

.left-14 {
  left: 3.5rem;
}

.left-3 {
  left: 0.75rem;
}

.left-\[-0\.16\%\] {
  left: -0.16%;
}

.left-\[-0\.5px\] {
  left: -0.5px;
}

.left-\[-1px\] {
  left: -1px;
}

.left-\[0\%\] {
  left: 0%;
}

.left-\[0\.16\%\] {
  left: 0.16%;
}

.left-\[100px\] {
  left: 100px;
}

.left-\[113px\] {
  left: 113px;
}

.left-\[127px\] {
  left: 127px;
}

.left-\[139px\] {
  left: 139px;
}

.left-\[19px\] {
  left: 19px;
}

.left-\[3\.33px\] {
  left: 3.33px;
}

.left-\[326px\] {
  left: 326px;
}

.left-\[331px\] {
  left: 331px;
}

.left-\[335px\] {
  left: 335px;
}

.left-\[337px\] {
  left: 337px;
}

.left-\[341px\] {
  left: 341px;
}

.left-\[35px\] {
  left: 35px;
}

.left-\[3px\] {
  left: 3px;
}

.left-\[42px\] {
  left: 42px;
}

.left-\[45px\] {
  left: 45px;
}

.left-\[46px\] {
  left: 46px;
}

.left-\[49px\] {
  left: 49px;
}

.left-\[50\%\] {
  left: 50%;
}

.left-\[53px\] {
  left: 53px;
}

.left-\[55px\] {
  left: 55px;
}

.left-\[5px\] {
  left: 5px;
}

.left-\[61px\] {
  left: 61px;
}

.left-\[7px\] {
  left: 7px;
}

.left-\[81px\] {
  left: 81px;
}

.left-\[85px\] {
  left: 85px;
}

.left-\[87px\] {
  left: 87px;
}

.left-\[88px\] {
  left: 88px;
}

.left-\[93px\] {
  left: 93px;
}

.left-\[97px\] {
  left: 97px;
}

.left-\[calc\(50\%_-_183px\)\] {
  left: calc(50% - 183px);
}

.left-px {
  left: 1px;
}

.right-\[-0\.16\%\] {
  right: -0.16%;
}

.right-\[0\%\] {
  right: 0%;
}

.right-\[0\.16\%\] {
  right: 0.16%;
}

.top-0 {
  top: 0px;
}

.top-3 {
  top: 0.75rem;
}

.top-\[-0\.05\%\] {
  top: -0.05%;
}

.top-\[-17px\] {
  top: -17px;
}

.top-\[0\%\] {
  top: 0%;
}

.top-\[1021px\] {
  top: 1021px;
}

.top-\[103px\] {
  top: 103px;
}

.top-\[1053px\] {
  top: 1053px;
}

.top-\[1065px\] {
  top: 1065px;
}

.top-\[1141px\] {
  top: 1141px;
}

.top-\[1187px\] {
  top: 1187px;
}

.top-\[126px\] {
  top: 126px;
}

.top-\[1307px\] {
  top: 1307px;
}

.top-\[14\.18\%\] {
  top: 14.18%;
}

.top-\[1465px\] {
  top: 1465px;
}

.top-\[15\.02\%\] {
  top: 15.02%;
}

.top-\[15px\] {
  top: 15px;
}

.top-\[1735px\] {
  top: 1735px;
}

.top-\[189px\] {
  top: 189px;
}

.top-\[19\.5px\] {
  top: 19.5px;
}

.top-\[2307px\] {
  top: 2307px;
}

.top-\[26\.5px\] {
  top: 26.5px;
}

.top-\[271px\] {
  top: 271px;
}

.top-\[2834px\] {
  top: 2834px;
}

.top-\[3\.33px\] {
  top: 3.33px;
}

.top-\[303px\] {
  top: 303px;
}

.top-\[315px\] {
  top: 315px;
}

.top-\[3342px\] {
  top: 3342px;
}

.top-\[3524px\] {
  top: 3524px;
}

.top-\[3556px\] {
  top: 3556px;
}

.top-\[3564px\] {
  top: 3564px;
}

.top-\[3598px\] {
  top: 3598px;
}

.top-\[3652px\] {
  top: 3652px;
}

.top-\[3844px\] {
  top: 3844px;
}

.top-\[3867px\] {
  top: 3867px;
}

.top-\[391px\] {
  top: 391px;
}

.top-\[3920px\] {
  top: 3920px;
}

.top-\[3952px\] {
  top: 3952px;
}

.top-\[3960px\] {
  top: 3960px;
}

.top-\[3994px\] {
  top: 3994px;
}

.top-\[4048px\] {
  top: 4048px;
}

.top-\[4240px\] {
  top: 4240px;
}

.top-\[437px\] {
  top: 437px;
}

.top-\[4414px\] {
  top: 4414px;
}

.top-\[4953px\] {
  top: 4953px;
}

.top-\[560px\] {
  top: 560px;
}

.top-\[6\.67px\] {
  top: 6.67px;
}

.top-\[651px\] {
  top: 651px;
}

.top-\[660px\] {
  top: 660px;
}

.top-\[683px\] {
  top: 683px;
}

.top-\[695px\] {
  top: 695px;
}

.top-\[771px\] {
  top: 771px;
}

.top-\[817px\] {
  top: 817px;
}

.top-\[937px\] {
  top: 937px;
}

.flex {
  display: flex;
}

.\!h-4 {
  height: 1rem !important;
}

.\!h-\[15px\] {
  height: 15px !important;
}

.h-10 {
  height: 2.5rem;
}

.h-11 {
  height: 2.75rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-3 {
  height: 0.75rem;
}

.h-3\.5 {
  height: 0.875rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-\[0\%\] {
  height: 0%;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[11px\] {
  height: 11px;
}

.h-\[135px\] {
  height: 135px;
}

.h-\[140px\] {
  height: 140px;
}

.h-\[157px\] {
  height: 157px;
}

.h-\[15px\] {
  height: 15px;
}

.h-\[161px\] {
  height: 161px;
}

.h-\[1947px\] {
  height: 1947px;
}

.h-\[197px\] {
  height: 197px;
}

.h-\[220px\] {
  height: 220px;
}

.h-\[231px\] {
  height: 231px;
}

.h-\[23px\] {
  height: 23px;
}

.h-\[241px\] {
  height: 241px;
}

.h-\[253px\] {
  height: 253px;
}

.h-\[2588px\] {
  height: 2588px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[26px\] {
  height: 26px;
}

.h-\[27px\] {
  height: 27px;
}

.h-\[306px\] {
  height: 306px;
}

.h-\[31px\] {
  height: 31px;
}

.h-\[339px\] {
  height: 339px;
}

.h-\[33px\] {
  height: 33px;
}

.h-\[344px\] {
  height: 344px;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[376px\] {
  height: 376px;
}

.h-\[382px\] {
  height: 382px;
}

.h-\[398px\] {
  height: 398px;
}

.h-\[39px\] {
  height: 39px;
}

.h-\[417px\] {
  height: 417px;
}

.h-\[434px\] {
  height: 434px;
}

.h-\[4836px\] {
  height: 4836px;
}

.h-\[487px\] {
  height: 487px;
}

.h-\[498px\] {
  height: 498px;
}

.h-\[504px\] {
  height: 504px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[5169px\] {
  height: 5169px;
}

.h-\[5766px\] {
  height: 5766px;
}

.h-\[57px\] {
  height: 57px;
}

.h-\[596px\] {
  height: 596px;
}

.h-\[59px\] {
  height: 59px;
}

.h-\[63px\] {
  height: 63px;
}

.h-\[72px\] {
  height: 72px;
}

.h-\[99\.21\%\] {
  height: 99.21%;
}

.h-\[auto\] {
  height: auto;
}

.\!w-4 {
  width: 1rem !important;
}

.\!w-\[15px\] {
  width: 15px !important;
}

.\!w-\[86\.97\%\] {
  width: 86.97% !important;
}

.w-10 {
  width: 2.5rem;
}

.w-16 {
  width: 4rem;
}

.w-4 {
  width: 1rem;
}

.w-6 {
  width: 1.5rem;
}

.w-80 {
  width: 20rem;
}

.w-96 {
  width: 24rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[117px\] {
  width: 117px;
}

.w-\[143px\] {
  width: 143px;
}

.w-\[147px\] {
  width: 147px;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[212px\] {
  width: 212px;
}

.w-\[229px\] {
  width: 229px;
}

.w-\[238px\] {
  width: 238px;
}

.w-\[241px\] {
  width: 241px;
}

.w-\[244px\] {
  width: 244px;
}

.w-\[246px\] {
  width: 246px;
}

.w-\[248px\] {
  width: 248px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[251px\] {
  width: 251px;
}

.w-\[252px\] {
  width: 252px;
}

.w-\[258px\] {
  width: 258px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[262px\] {
  width: 262px;
}

.w-\[264px\] {
  width: 264px;
}

.w-\[267px\] {
  width: 267px;
}

.w-\[268px\] {
  width: 268px;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[275px\] {
  width: 275px;
}

.w-\[276px\] {
  width: 276px;
}

.w-\[277px\] {
  width: 277px;
}

.w-\[278px\] {
  width: 278px;
}

.w-\[282px\] {
  width: 282px;
}

.w-\[284px\] {
  width: 284px;
}

.w-\[285px\] {
  width: 285px;
}

.w-\[292px\] {
  width: 292px;
}

.w-\[29px\] {
  width: 29px;
}

.w-\[305px\] {
  width: 305px;
}

.w-\[306px\] {
  width: 306px;
}

.w-\[307px\] {
  width: 307px;
}

.w-\[31px\] {
  width: 31px;
}

.w-\[325px\] {
  width: 325px;
}

.w-\[357px\] {
  width: 357px;
}

.w-\[358px\] {
  width: 358px;
}

.w-\[372px\] {
  width: 372px;
}

.w-\[389px\] {
  width: 389px;
}

.w-\[390px\] {
  width: 390px;
}

.w-\[52px\] {
  width: 52px;
}

.w-\[54px\] {
  width: 54px;
}

.w-\[66px\] {
  width: 66px;
}

.w-\[72px\] {
  width: 72px;
}

.flex-1 {
  flex: 1 1 0%;
}

.\!shrink-0 {
  flex-shrink: 0 !important;
}

.shrink-0 {
  flex-shrink: 0;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.gap-0 {
  gap: 0px;
}

.gap-0\.5 {
  gap: 0.125rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-3\.5 {
  gap: 0.875rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[7px\] {
  gap: 7px;
}

.self-stretch {
  align-self: stretch;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[50\%\] {
  border-radius: 50%;
}

.border {
  border-width: 1px;
}

.border-b-\[0\] {
  border-bottom-width: 0;
}

.border-l-\[0\] {
  border-left-width: 0;
}

.border-r-\[0\] {
  border-right-width: 0;
}

.border-t {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.\!border-\[\#222222\] {
  --tw-border-opacity: 1 !important;
  border-color: rgb(34 34 34 / var(--tw-border-opacity, 1)) !important;
}

.border-\[\#282729\] {
  --tw-border-opacity: 1;
  border-color: rgb(40 39 41 / var(--tw-border-opacity, 1));
}

.border-\[\#eaeaea\] {
  --tw-border-opacity: 1;
  border-color: rgb(234 234 234 / var(--tw-border-opacity, 1));
}

.border-\[rgba\(0\2c 0\2c 0\2c 0\.16\)\] {
  border-color: rgba(0,0,0,0.16);
}

.border-\[rgba\(255\2c 255\2c 255\2c 0\.15\)\] {
  border-color: rgba(255,255,255,0.15);
}

.border-\[rgba\(34\2c 34\2c 34\2c 0\.10\)\] {
  border-color: rgba(34,34,34,0.10);
}

.bg-\[\#000000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-\[\#100720\] {
  --tw-bg-opacity: 1;
  background-color: rgb(16 7 32 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f2f2ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[rgba\(0\2c 0\2c 0\2c 0\.06\)\] {
  background-color: rgba(0,0,0,0.06);
}

.bg-\[rgba\(140\2c 69\2c 255\2c 0\.40\)\] {
  background-color: rgba(140,69,255,0.40);
}

.bg-\[rgba\(61\2c 61\2c 61\2c 0\.40\)\] {
  background-color: rgba(61,61,61,0.40);
}

.bg-\[rgba\(99\2c 0\2c 185\2c 0\.06\)\] {
  background-color: rgba(99,0,185,0.06);
}

.pb-1\.5 {
  padding-bottom: 0.375rem;
}

.pb-2\.5 {
  padding-bottom: 0.625rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-\[5px\] {
  padding-bottom: 5px;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-\[13px\] {
  padding-left: 13px;
}

.pl-\[15px\] {
  padding-left: 15px;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-\[13px\] {
  padding-right: 13px;
}

.pr-\[15px\] {
  padding-right: 15px;
}

.pt-1\.5 {
  padding-top: 0.375rem;
}

.pt-2\.5 {
  padding-top: 0.625rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-\[5px\] {
  padding-top: 5px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-\[\'BeVietnamPro-Bold\'\2c _sans-serif\] {
  font-family: 'BeVietnamPro-Bold', sans-serif;
}

.font-\[\'BeVietnamPro-Regular\'\2c _sans-serif\] {
  font-family: 'BeVietnamPro-Regular', sans-serif;
}

.font-\[\'BeVietnamPro-SemiBold\'\2c _sans-serif\] {
  font-family: 'BeVietnamPro-SemiBold', sans-serif;
}

.font-\[\'DmSans-Bold\'\2c _sans-serif\] {
  font-family: 'DmSans-Bold', sans-serif;
}

.font-\[\'Inter-Medium\'\2c _sans-serif\] {
  font-family: 'Inter-Medium', sans-serif;
}

.font-\[\'Inter-Regular\'\2c _sans-serif\] {
  font-family: 'Inter-Regular', sans-serif;
}

.font-body-m-font-family {
  font-family: Inter-Regular, sans-serif;
}

.font-body-medium-font-family {
  font-family: Inter-Regular, sans-serif;
}

.font-body-s-font-family {
  font-family: Inter-Regular, sans-serif;
}

.font-h4-font-family {
  font-family: DmSans-Bold, sans-serif;
}

.font-medium-type18-font-family {
  font-family: PlusJakartaSans-Medium, sans-serif;
}

.font-semibold-type16-font-family {
  font-family: PlusJakartaSans-SemiBold, sans-serif;
}

.font-tag-font-family {
  font-family: Inter-Medium, sans-serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-body-m-font-size {
  font-size: 16px;
}

.text-body-medium-font-size {
  font-size: 16px;
}

.text-body-s-font-size {
  font-size: 14px;
}

.text-h4-font-size {
  font-size: 26px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-medium-type18-font-size {
  font-size: 18px;
}

.text-semibold-type16-font-size {
  font-size: 16px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-tag-font-size {
  font-size: 13px;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-body-m-font-weight {
  font-weight: 400;
}

.font-body-medium-font-weight {
  font-weight: 400;
}

.font-body-s-font-weight {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-h4-font-weight {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-medium-type18-font-weight {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-semibold-type16-font-weight {
  font-weight: 600;
}

.font-tag-font-weight {
  font-weight: 500;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-\[22px\] {
  line-height: 22px;
}

.leading-\[29px\] {
  line-height: 29px;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[31px\] {
  line-height: 31px;
}

.leading-\[50px\] {
  line-height: 50px;
}

.leading-body-m-line-height {
  line-height: 26px;
}

.leading-body-medium-line-height {
  line-height: 23px;
}

.leading-body-s-line-height {
  line-height: 26px;
}

.leading-h4-line-height {
  line-height: 60px;
}

.leading-medium-type18-line-height {
  line-height: 150%;
}

.leading-semibold-type16-line-height {
  line-height: 150%;
}

.leading-tag-line-height {
  line-height: 31px;
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#050505\] {
  --tw-text-opacity: 1;
  color: rgb(5 5 5 / var(--tw-text-opacity, 1));
}

.text-\[\#101010\] {
  --tw-text-opacity: 1;
  color: rgb(16 16 16 / var(--tw-text-opacity, 1));
}

.text-\[\#343434\] {
  --tw-text-opacity: 1;
  color: rgb(52 52 52 / var(--tw-text-opacity, 1));
}

.text-\[\#6a4bff\] {
  --tw-text-opacity: 1;
  color: rgb(106 75 255 / var(--tw-text-opacity, 1));
}

.text-\[\#7eabe6\] {
  --tw-text-opacity: 1;
  color: rgb(126 171 230 / var(--tw-text-opacity, 1));
}

.text-\[\#969696\] {
  --tw-text-opacity: 1;
  color: rgb(150 150 150 / var(--tw-text-opacity, 1));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[rgba\(255\2c 255\2c 255\2c 0\.50\)\] {
  color: rgba(255,255,255,0.50);
}

.text-\[rgba\(255\2c 255\2c 255\2c 0\.70\)\] {
  color: rgba(255,255,255,0.70);
}

.text-primary-0 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
      